<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ShopLabelMapper">

    <resultMap type="ShopLabel" id="ShopLabelResult">
        <result property="id" column="id"/>
        <result property="labelName" column="label_name"/>
    </resultMap>

    <sql id="selectShopLabelVo">
        select id, label_name
        from shop_label
    </sql>

    <select id="selectShopLabelList" parameterType="ShopLabel" resultMap="ShopLabelResult">
        <include refid="selectShopLabelVo"/>
        <where>
            <if test="labelName != null  and labelName != ''">and label_name = #{labelName}</if>
        </where>
    </select>

    <select id="selectShopLabelById" parameterType="Long" resultMap="ShopLabelResult">
        <include refid="selectShopLabelVo"/>
        where id = #{id}
    </select>

    <insert id="insertShopLabel" parameterType="ShopLabel">
        insert into shop_label
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="labelName != null">label_name,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="labelName != null">#{labelName},</if>
        </trim>
    </insert>

    <update id="updateShopLabel" parameterType="ShopLabel">
        update shop_label
        <trim prefix="SET" suffixOverrides=",">
            <if test="labelName != null">label_name = #{labelName},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteShopLabelById" parameterType="Long">
        delete
        from shop_label
        where id = #{id}
    </delete>

    <delete id="deleteShopLabelByIds" parameterType="String">
        delete from shop_label where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
